<div id="footer-section" class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<aside class="widget widget-about">
					<div class="logo-block">
						<a title="Logo">Studio <span style="color: black;">Fifteen</span></a>
					</div>
					<h4>+356 27 232 415</h4>
					<p>
						<span>Studio Fifteen</span>
						<span>Triq Sant' Andria,</span>
						<span>St Andrews, Malta</span>
					</p>
				</aside>
			</div>
			<div class="col-md-3 col-sm-6">
				<aside class="widget widget-flicker">
					<h3 class="widget-title">Flicker</h3>
					<hr>
					<ul>
						<li><a><img src="./assets/img/footer/flicker-1.png" alt="flicker-post"></a></li>
						<li><a><img src="./assets/img/footer/flicker-2.png" alt="flicker-post"></a></li>
						<li><a><img src="./assets/img/footer/flicker-3.png" alt="flicker-post"></a></li>
						<li><a><img src="./assets/img/footer/flicker-4.png" alt="flicker-post"></a></li>
						<li><a><img src="./assets/img/footer/flicker-5.png" alt="flicker-post"></a></li>
						<li><a><img src="./assets/img/footer/flicker-6.png" alt="flicker-post"></a></li>
					</ul>
				</aside>
			</div>
			<div class="col-md-6 col-sm-6">
				<aside class="widget widget-subscribe">
					<h3 class="widget-title">
						SUBSCRIBE TO OUR NEWSLETTER
					</h3>
					<hr>
					<p>Nec ex mentitum nominati. Graeci iracundia ne pri. Error definiebas usu ei, ad magna minimum maluisset eum. In postulant concludaturque vix, sit et quot velit animal. Quem consul consulatu his cu, vide cibo eum ei, eros euripidis referrentur ea quo.</p>
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter email address">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">SUBSCRIBE</button>
							</span>
						</div>
					</form>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<p>© Copyright 2015. All rights reserved.</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<aside class="widget widget-social">
						<ul>
							<li><a><i class="fa fa-facebook"></i></a></li>
							<li><a><i class="fa fa-twitter"></i></a></li>
							<li><a><i class="fa fa-google-plus"></i></a></li>
							<li><a><i class="fa fa-instagram"></i></a></li>
							<li><a><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>