<div class="container">
	<div class="col-md-2 logo-block no-padding col-sm-2 col-xs-3">
		<a>Studio <span style="color: black;">Fifteen</span></a>
	</div>
	<div class="col-md-10 menu-block">
		<nav class="navbar navbar-default primary-navigation navbar-right">						
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>						
			</div>
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li ng-class="{active: url=='home'}">
						<a href="#/">Home</a>
					</li>
					<li ng-class="{active: url=='about'}">
						<a href="#/about">About</a>
					</li>
					<li ng-class="{active: url=='classes'}">
						<a href="#/classes">Classes</a>
					</li>
					<li ng-class="{active: url=='team'}">
						<a href="#/team">Team</a>
					</li>
					<li ng-class="{active: url=='contact'}">
						<a href="#/contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>