<div id="banner-section" class="banner-section container-fluid no-padding">
	<img src="./assets/img/about/fit-girls-banner.jpg" alt="about-banner">
	<div id="page-breadcrumb" class="page-breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
			  <li class="active">About</li>
			</ol>
		</div>
	</div>
</div>

<div id="about-section" class="about-section about2">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="about-content">
					<h2>About<span>Studio</span></h2>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="about-content">
					<p>Cu tibique omnesque platonem sea. Cu assum oportere vix, exerci definiebas vel id. Duo suas ocurreret imperdiet ad. Eum in porro scripta. Mea an ceteros fierent, aliquid propriae expetendis et duo. Mazim dictas legendos no usu, in debitis omittantur sea. Ei eos reque partem</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="about-content">
					<p>Et sale putant dolorum ius, veri doming dicunt per eu, ut mei tritani albucius vivendum. Persius iudicabit pri ei, ad enim illud quaeque has. Mel interesset scribentur ad, vim ad prima iudico splendide. Et sed impedit eloquentiam, ut delectus consectetuer quo.</p>
				</div>
			</div>
		</div> 
	</div>
</div>

<div id="what-we-section" class="what-we-section container-fluid no-padding">
	<div class="col-md-6 col-sm-6 what-we-section-half no-padding">
		<img src="./assets/img/about/brunette-exercise-2.jpg" alt="brunette-exercise" style="width: 100%;">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 what-we-text">
				<div class="what-section-inner">
					<h2>Eruditi intel<span>legebat </span> <span>ad eos,</span> eu sed elit medi-<span>ocritatem</span> </h2>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 highlight-about">
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/brick-well.png" alt="brick-well">
							<span>strong body</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/calender.png" alt="calender">
							<span>flexible schedule</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/chair.png" alt="chair">
							<span>resting rooms</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/clock.png" alt="clock">
							<span>all-day-classes</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/cupboard.png" alt="cupboard">
							<span>locker rooms</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="highlight-inner">
						<a>
							<img src="./assets/img/about/film.png" alt="film">
							<span>video tutorials</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="quote-section" class="quote-section">
	<div class="container">
		<div id="carousel-quote" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item">
					<p>Wisdom is knowing we are all One. Love is what it feels like and Compassion is what it acts like</p>
					<h2>Ethan Walker</h2>
				</div>
				<div class="item active">
					<p>Wisdom is knowing we are all One. Love is what it feels like and Compassion is what it acts like</p>
					<h2>Ethan Walker</h2>
				</div>
			</div>
		</div>
	</div> 	
</div>

<div id="gallery-section" class="gallery-section container-fluid no-padding">
	<div id="gallery-box" class="gallery-box" style="opacity: 1; display: block;">
		<img class="col-sm-6 col-md-3 no-padding" src="./assets/img/about/gallery-image3.png" alt="gallery-image5">
		<img class="col-sm-6 col-md-3 no-padding" src="./assets/img/about/gallery-image4.png" alt="gallery-image6">
		<img class="col-sm-6 col-md-3 no-padding" src="./assets/img/about/gallery-image8.jpg" alt="gallery-image8">
		<img class="col-sm-6 col-md-3 no-padding" src="./assets/img/about/gallery-image2.png" alt="gallery-image7">
	</div>
</div>