<div id="banner-section" class="banner-section container-fluid no-padding">
	<img src="./assets/img/team/team-banner.jpg" alt="team-banner">
	<div id="page-breadcrumb" class="page-breadcrumb container">
		<ol class="breadcrumb">
			<li class="active">Classes</li>
		</ol>
	</div>
</div>

<div id="services-section" class="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/clock-icon.png" alt="clock icon"></i>
					<h3>FLEXIBLE CLASSES SCHEDULE</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/calc-icon.png" alt="calc icon"></i>
					<h3>AFFORDABLE CLASSES PRICE</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/gift-icon.png" alt="Gift icon"></i>
					<h3>PLEASANT CLIENT BONUSES</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/film-icon.png" alt="film icon"></i>
					<h3>AMAZING VIDEO TUTORIALS</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="classes-highlights" class="classes-highlights container-fluid no-padding">
	<div class="col-md-6 no-padding classes-highlight-img-box">
		<img src="./assets/img/classes/girl.png" alt="classes-highlights-img">
	</div>
	<div class="col-md-6 no-padding pull-right">
		<div class="classes-box-1 classes-box">
			<div class="col-md-7">
				<img src="./assets/img/classes/classes-box-icon.png" alt="classes-box-icon">
				<a class="block-title">No ius libris voluptatum</a>
				<p>Vim cu vide facilis, posse aliquam has eu. Eos suas ornatus labores et. Idque appetere interpretaris est te, no vix bonorum laoreet, vidisse laboramus cu duo. Erat integre deseruisse vim no.</p>
			</div>
		</div>
		<div class="classes-box-2 classes-box">
			<div class="col-md-7">
				<img src="./assets/img/classes/classes-box-icon.png" alt="classes-box-icon">
				<a class="block-title">No ius libris voluptatum</a>
				<p>Vim cu vide facilis, posse aliquam has eu. Eos suas ornatus labores et. Idque appetere interpretaris est te, no vix bonorum laoreet, vidisse laboramus cu duo. Erat integre deseruisse vim no.</p>
			</div>
		</div>
		<div class="classes-box-3 classes-box">
			<div class="col-md-7">
				<img src="./assets/img/classes/classes-box-icon.png" alt="classes-box-icon">
				<a class="block-title">No ius libris voluptatum</a>
				<p>Vim cu vide facilis, posse aliquam has eu. Eos suas ornatus labores et. Idque appetere interpretaris est te, no vix bonorum laoreet, vidisse laboramus cu duo. Erat integre deseruisse vim no.</p>
			</div>
		</div>
		<div class="classes-box-4 classes-box">
			<div class="col-md-7">
				<img src="./assets/img/classes/classes-box-icon.png" alt="classes-box-icon">
				<a class="block-title">No ius libris voluptatum</a>
				<p>Vim cu vide facilis, posse aliquam has eu. Eos suas ornatus labores et. Idque appetere interpretaris est te, no vix bonorum laoreet, vidisse laboramus cu duo. Erat integre deseruisse vim no.</p>
			</div>
		</div>
	</div>
</div>