<div id="banner-section" class="banner-section container-fluid no-padding">
	<img src="./assets/img/team/team-banner.jpg" alt="team-banner">
	<div id="page-breadcrumb" class="page-breadcrumb container">
		<ol class="breadcrumb">
		  <li class="active">Contact</li>
		</ol>
	</div>
</div>

<div id="contact" class="contact ow-section">
	<div class="container">
		<div class="contact-address">
			<div class="col-md-4 col-sm-4">
				<div class="contact-box">
					<div class="contact-title-desc">
						<p>
							<span>Studio Fifteen</span>
							<span>Triq Sant' Andria,</span>
							<span>St Andrews, Malta</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="contact-box">
					<div class="contact-title-desc">
						<p>+356 27 232 415</p>
						<p>+356 79 223 161</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="contact-box">
					<div class="contact-title-desc">
						<a href="mailto:info@studiofifteen.com">info@studiofifteen.com</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<form class="contact-form form-horizontal row" role="form" method="post">
				<div class="col-md-4 col-sm-4">
					<label class="sr-only" for="input_name">Name</label>
					<input type="text" class="form-control" id="input_name" name="contact-name" placeholder="Your Name" required="">
				</div>
				<div class="col-md-4 col-sm-4">
					<label class="sr-only" for="input_email">Email address</label>
					<input type="email" class="form-control" id="input_email" name="contact-email" placeholder="Email" required="">
				</div>
				<div class="col-md-4 col-sm-4">
					<label class="sr-only" for="input_email">Subject</label>
					<input type="text" class="form-control" id="input_subject" name="contact-subject" placeholder="Subject" required="">
				</div>
				<label class="sr-only" for="textarea_message">Message</label>
				<textarea class="form-control" id="textarea_message" name="contact-message" rows="8" required=""></textarea>		
				<button class="btn" id="btn_submit">SEND</button>
				<div id="alert-msg" class="alert-msg"></div>
			</form>
		</div>
	</div>
</div>