<div id="slider-section" class="slider-section">
	<div id="home-slider" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active slide-style" style="background-image: url('./assets/img/slider/slide-1.jpg');"></div>
		</div>
		<a class="left carousel-control">
			<span class="fa fa-angle-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control">
			<span class="fa fa-angle-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div id="services-section" class="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/clock-icon.png" alt="clock icon"></i>
					<h3>FLEXIBLE CLASSES SCHEDULE</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/calc-icon.png" alt="calc icon"></i>
					<h3>AFFORDABLE CLASSES PRICE</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/gift-icon.png" alt="Gift icon"></i>
					<h3>PLEASANT CLIENT BONUSES</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-box">
					<i><img src="./assets/img/icon/film-icon.png" alt="film icon"></i>
					<h3>AMAZING VIDEO TUTORIALS</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="about-section" class="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="section-header">About the Studio</h3>
			</div>
			<div class="col-md-4 section-text-1">
				<p>Cu tibique omnesque platonem sea. Cu assum oportere vix, exerci definiebas vel id. Duo suas ocurreret imperdiet ad. Eum in porro scripta. Mea an ceteros fierent, aliquid propriae expetendis et duo. Mazim dictas legendos no usu, in debitis omittantur sea. Ei eos reque partem.</p>
			</div>
			<div class="col-md-4 section-text-1">
				<p>Cu tibique omnesque platonem sea. Cu assum oportere vix, exerci definiebas vel id. Duo suas ocurreret imperdiet ad. Eum in porro scripta. Mea an ceteros fierent, aliquid propriae expetendis et duo. Mazim dictas legendos no usu, in debitis omittantur sea. Ei eos reque partem.</p>
			</div>
		</div>
	</div>
</div>

<div id="reason-section" class="reason-section">
	<div class="container">
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">physical harmony</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-1.jpg" alt="reason-1">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">soul balance</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-2.jpg" alt="reason-2">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">body control</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-3.jpg" alt="reason-3">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="our-deals-section" class="our-deals-section">
	<div class="container">
		<h3 class="section-header">Our Deals</h3>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="deal-box">
					<div class="rating-box">
						<p>€120</p>
						<p>12 Sessions</p>
					</div>
					<ul>
						<li><img src="./assets/img/icon/deal-gift-icon.png" alt="deal-gift-icon"></li>
						<li>Yoga Classes</li>
						<li>Shower</li>
						<li>Parking lot</li>
						<li>Video Tutorials</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="deal-box">
					<div class="rating-box">
						<p>€240</p>
						<p>24 Sessions</p>
					</div>
					<ul>
						<li><img src="./assets/img/icon/deal-gift-icon.png" alt="deal-gift-icon"></li>
						<li>Yoga Classes</li>
						<li>Shower</li>
						<li>Parking lot</li>
						<li>Video Tutorials</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="deal-box">
					<div class="rating-box">
						<p>€360</p>
						<p>36 Sessions</p>
					</div>
					<ul>
						<li><img src="./assets/img/icon/deal-gift-icon.png" alt="deal-gift-icon"></li>
						<li>Yoga Classes</li>
						<li>Shower</li>
						<li>Parking lot</li>
						<li>Video Tutorials</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>