<div id="banner-section" class="banner-section container-fluid no-padding">
	<img src="./assets/img/team/team-banner.jpg" alt="team-banner">
	<div id="page-breadcrumb" class="page-breadcrumb container">
		<ol class="breadcrumb">
		  <li class="active">Team</li>
		</ol>
	</div>
</div>

<div id="prepare-section" class="prepare-section container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6 col-xs-12 ow-left-padding prepare-image-block">
				<img src="./assets/img/team/prepare-1.png" alt="prepare">
			</div>
			<div class="col-md-5 col-sm-6 col-xs-12 prepare-content">
				<h3 class="block-title">PREPARE FOR YOGA</h3>
				<p>Sale minimum accumsan nam in, sed an eruditi ceteros theophrastus, eripuit instructior vel ea. Pri eu essent suscipit, eros eloquentiam at qui. Nec id wisi scripserit eloquentiam, iuvaret laoreet usu an. Eum nominati oportere cu, sea eu regione erroribus. Te nisl quando vis, ne vocibus contentiones cum, cum quodsi integre signiferumque at.</p>
				<a class="btn">Enquire</a>
			</div>
		</div>
	</div>
</div>

<div id="our-team-section" class="our-team-section container-fluid">
	<div class="container">
		<div class="row">
			<h2 class="section-header">Our Team</h2>
			<div class="col-md-3 col-sm-6">
				<div class="team-box">
					<ul class="team-social inline-list">
						<li><a><i class="fa fa-facebook"></i></a></li>
						<li><a><i class="fa fa-twitter"></i></a></li>
						<li><a><i class="fa fa-google-plus"></i></a></li>
						<li><a><i class="fa fa-instagram"></i></a></li>
						<li><a><i class="fa fa-dribbble"></i></a></li>
					</ul>
					<img src="./assets/img/team/team-member-1.jpg" alt="team member">
					<h3 class="block-title">sarah pitt</h3>
					<h4 class="sub-title">Trainer</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="team-box">
					<ul class="team-social inline-list">
						<li><a><i class="fa fa-facebook"></i></a></li>
						<li><a><i class="fa fa-twitter"></i></a></li>
						<li><a><i class="fa fa-google-plus"></i></a></li>
						<li><a><i class="fa fa-instagram"></i></a></li>
						<li><a><i class="fa fa-dribbble"></i></a></li>
					</ul>
					<img src="./assets/img/team/team-member-2.jpg" alt="team member">
					<h3 class="block-title">sarah pitt</h3>
					<h4 class="sub-title">Trainer</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="team-box">
					<ul class="team-social inline-list">
						<li><a><i class="fa fa-facebook"></i></a></li>
						<li><a><i class="fa fa-twitter"></i></a></li>
						<li><a><i class="fa fa-google-plus"></i></a></li>
						<li><a><i class="fa fa-instagram"></i></a></li>
						<li><a><i class="fa fa-dribbble"></i></a></li>
					</ul>
					<img src="./assets/img/team/team-member-3.jpg" alt="team member">
					<h3 class="block-title">sarah pitt</h3>
					<h4 class="sub-title">Trainer</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="team-box">
					<ul class="team-social inline-list">
						<li><a><i class="fa fa-facebook"></i></a></li>
						<li><a><i class="fa fa-twitter"></i></a></li>
						<li><a><i class="fa fa-google-plus"></i></a></li>
						<li><a><i class="fa fa-instagram"></i></a></li>
						<li><a><i class="fa fa-dribbble"></i></a></li>
					</ul>
					<img src="./assets/img/team/team-member-4.jpg" alt="team member">
					<h3 class="block-title">sarah pitt</h3>
					<h4 class="sub-title">Trainer</h4>
				</div>
			</div>
			
			<div id="skill-content" class="skill-content">
				<div class="col-md-4 skill-progress col-sm-6">
					<div class="skill-progress-box">
						<div class="progress">
							<div id="skill_bar_count-1" role="progressbar" class="progress-bar progress-bar-danger" style="width: 80%;">
								<span class="sr-only">80% Complete</span>
							</div>
						</div>
						<h3 class="block-title">YOGA</h3>
						<span id="skill_type_count-1" data-skill_percent="80" style="width: 80%;">80</span>
					</div>
					<div class="skill-progress-box">
						<div class="progress">
							<div id="skill_bar_count-2" role="progressbar" class="progress-bar progress-bar-danger" style="width: 72%;">
								<span class="sr-only">72% Complete</span>
							</div>
						</div>
						<h3 class="block-title">PILATES</h3>
						<span id="skill_type_count-2" data-skill_percent="72" style="width: 72%;">72</span>
					</div>
					<div class="skill-progress-box">
						<div class="progress">
							<div id="skill_bar_count-3" role="progressbar" class="progress-bar progress-bar-danger" style="width: 50%;">
								<span class="sr-only">50% Complete</span>
							</div>
						</div>
						<h3 class="block-title">GYM</h3>
						<span id="skill_type_count-3" data-skill_percent="50" style="width: 50%;">50</span>
					</div>
					<div class="skill-progress-box">
						<div class="progress">
							<div id="skill_bar_count-4" role="progressbar" class="progress-bar progress-bar-danger" style="width: 80%;">
								<span class="sr-only">80% Complete</span>
							</div>
						</div>
						<h3 class="block-title">CARDIO</h3>
						<span id="skill_type_count-4" data-skill_percent="80" style="width: 80%;">80</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<p>Delenit percipitur pro id, cu sea hinc elitr splendide, vix elit honestatis eu. Ut usu legere oblique eripuit, eu quo odio aperiri delicatissimi, duo nostrum detraxit ei. Cu eum graeci dissentiunt. Qui et verear accusata tincidunt, albucius oporteat ea nam, persius intellegebat eam no. Qui id munere dicunt equidem, dicat dicit dolore vis ut.  Per zril aeterno disputando id. Ludus accumsan at eam. Nihil admodum ne pri, ne nihil atomorum expetendis duo. </p>
				</div>
				<div class="col-md-4 col-sm-6">
					<p>Sit ex utroque probatus, ex eos erat commodo nostrud, putant prodesset sit cu. Vis et repudiare constituto, iudicabit ullamcorper vis at. Bonorum moderatius mea at, saperet feugait definitionem ei est. Nulla ocurreret an sea, ad porro efficiantur mea. Ut torquatos scripserit repudiandae nam, in erant vituperata definitiones sea, tantas animal id quo. Vidit dissentiet complectitur eam et. Vis errem utroque no, an eum case dolor delectus. fastidii ius, eam ei nostrud discere similique.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="statistics-section" class="statistics-section container-fluid">
	<div class="container">
		<div class="statistics-type">
			<div class="col-md-4 col-sm-4 fact-box">
				<h3 class="fact-count" id="statistics_count-1" data-statistics_percent="234">234</h3>
				<p>LESSONS PER YEAR</p>
			</div>
			<div class="col-md-4 col-sm-4 fact-box">
				<h3 class="fact-count" id="statistics_count-2" data-statistics_percent="7">7</h3>
				<p>IN HOUSE TRAINERS</p>
			</div>
			<div class="col-md-4 col-sm-4 fact-box">
				<h3 class="fact-count" id="statistics_count-3" data-statistics_percent="400">400</h3>
				<p>YOGA MEMBERS</p>
			</div>				
		</div>
	</div>
</div>

<div id="reason-section" class="reason-section">
	<div class="container">
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">physical harmony</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-1.jpg" alt="reason-1">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">soul balance</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-2.jpg" alt="reason-2">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 no-padding">
			<div class="reason-box">
				<a class="reason-title">body control</a>
				<div class="reason-image-block">
					<img src="./assets/img/reason/reason-3.jpg" alt="reason-3">
					<div class="reason-hover-box"></div>
				</div>
			</div>
		</div>
	</div>
</div>